.roblox_text
{
    display: block;
    margin: 36px auto 24px;
    height: 140px;
    max-width: 600px;
    user-select: none;
    pointer-events: none;
      
}
.login_button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: white;
    color: #000;
    font-weight: 700;
    font-size: 14px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    font-family: Arial, sans-serif;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    width: 150px;
}
body {
margin: 0;
background-image: url('login.img/background.jpg');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
height: 100vh;
}
.Sign_up_div {
    background-color: gray;
    
  }  